.na{
   
    margin-left: 600px;
    }
.m
{
    padding-left: 20px;
}

.backclo
{
    background-color: aqua;
}
.mou
{
    margin-top: 40px;
}
.mu{
    width: 120px;
    display:flex;
    margin-left: 20px;
}
.mn{
    display: flex;
    margin-left: 0px;
}
